* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  background-image: url(img/poke-wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  color: #e5e7eb;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container #search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 27, 50, 0.7);
  padding: 20px;
  border-radius: 20px;
}

.container label {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
}

.container #search-input {
  display: flex;
  align-items: center;
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 5px;
}

.container #search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.container #search-button:hover {
  background-color: #0056b3;
}

.output {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(27, 27, 50, 0.7);
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 120px;
}

.desc #pokemon-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.desc #pokemon-id {
  font-size: 1.2rem;
}

.desc #ability {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 4px;
}

.size {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.2rem;
  margin-top: 40px;
}

.sprite-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#types {
  margin: 20px auto;
  padding: 5px 50px;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
}

.bottom-container {
  display: flex;
  width: 100%;
  max-width: 100%;
}

table {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-spacing: 10px;
  font-size: 1.2rem;
  background-color: black;
}

table th {
  text-align: left;
  margin-right: 10px;
}

table #base {
  margin-left: 5px;
}

table #stat {
  text-align: center;
}

#hp,
#attack,
#defense,
#special-attack,
#special-defense,
#speed {
  text-align: center;
}

table th,
table td {
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  width: 100%;
  background-color: rgba(27, 27, 50, 0.7);
  font-size: 1rem;
}

footer a {
  color: #e5e7eb;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

footer a:hover {
  background-color: #007bff;
  border-radius: 5px;
  padding: 5px;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .container #search-input {
    width: 275px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.8rem;
  }
  .container #search-input {
    width: 300px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  body {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 3rem;
  }
  .container #search-input {
    width: 325px;
  }
}

@media only screen and (min-width: 1801px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  .container #search-input {
    width: 350px;
  }
}
